Repository aziontech/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management, @aziontech/experience-engineering

.github/CODEOWNERS:

src/content/docs @aziontech/education-docs @aziontech/team-product-2  @aziontech/cs-labs @aziontech/product-management 
src/i18n/**/*.ts @aziontech/education-docs @aziontech/team-product-2 @aziontech/product-management 

src/components @aziontech/experience-engineering
src/data @aziontech/experience-engineering
src/i18n @aziontech/experience-engineering
src/layouts @aziontech/experience-engineering
src/pages @aziontech/experience-engineering
src/util @aziontech/experience-engineering

package.json @aziontech/experience-engineering
astro.config.ts @aziontech/experience-engineering
helpcenter-cleanner.js @aziontech/experience-engineering
RADME.md @aziontech/experience-engineering
LICENSE @aziontech/experience-engineering
.prettierrc @aziontech/experience-engineering
.nvmrc @aziontech/experience-engineering
.gitignore @aziontech/experience-engineering
.eslintrc @aziontech/experience-engineering
.eslintignore @aziontech/experience-engineering
.editorconfig @aziontech/experience-engineering
.github @aziontech/experience-engineering
.cloudcannon @aziontech/experience-engineering

Apply suggestions from code review
  src/content/docs/pt-br/pages/produtos/edge-application/error-responses/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-1573-how-to-find-waf-score
  src/content/docs/en/pages/guides/how-to-find-waf-score/index.mdx
  src/content/docs/pt-br/pages/guias/how-to-find-waf-score/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-1931-image-processor-EN (#73)
  src/content/docs/en/pages/guides/image-processor/index.mdx
  src/content/docs/en/pages/products/edge-application/image-processor.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/image-processor/index.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/image-processor/primeiros-passos.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

DEV-593 | FEAT: Footer (#49)
  public/assets/docs/css/theme.css
  src/components/Footer/Footer.astro
  src/components/Header/Header.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/RightSidebar/RightSidebar.astro
  src/content/docs/en/story-book.mdx
  src/i18n/en/ui.ts
  src/i18n/pt-br/footer.ts
  src/i18n/pt-br/ui.ts
  src/layouts/BaseLayout.astro
  src/layouts/SplashLayout.astro
  src/pages/[lang]/[...slug].astro
  src/util.ts
  src/util/getPageTranslations.ts
Owners: @aziontech/experience-engineering, @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/en/pages/products/edge-application/digital-certificates.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/digital-certificates/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/en/pages/products/edge-application/digital-certificates.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/digital-certificates/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/en/pages/products/edge-application/domains/domains.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/domains/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

FIX: path url include www.
  src/components/HeadSEO.astro
Owners: @aziontech/experience-engineering

chore: og image config (#68)
  src/components/HeadSEO.astro
  src/util/getOgImageUrl.ts
Owners: @aziontech/experience-engineering

Apply suggestions from code review
  src/content/docs/en/pages/products/edge-application/edge-application.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2113-ajustes-docs (#89)
  src/content/docs/en/pages/products/edge-application/edge-application.mdx
  src/content/docs/en/pages/products/edge-application/origins.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/pt-br/pages/produtos/edge-application/digital-certificates/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2056-device-groups (#82)
  src/content/docs/en/pages/products/edge-application/device-groups.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/device-groups/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2057-error-responses (#83)
  src/content/docs/en/pages/products/edge-application/error-responses.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/error-responses/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/en/pages/products/edge-application/real-time-purge.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/edge-caching/index.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/real-time-purge/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Ajuste aa purge
  src/content/docs/en/pages/products/edge-application/real-time-purge.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/real-time-purge/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update index.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/custom-allowed-rule/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2070-digital-certificates (#86)
  src/content/docs/en/pages/products/edge-application/digital-certificates.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/digital-certificates/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update index.mdx (#92)
  src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/custom-allowed-rule/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Missing behaviors
  src/content/docs/en/pages/products/edge-application/rules-engine.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/rules-engine/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update
  src/content/docs/en/pages/products/edge-application/rules-engine.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/rules-engine/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

fix: version compilation of sass, @funtion it is not compiling with 1.65
  package.json
  src/components/Header/Menus.scss
Owners: @aziontech/experience-engineering

feat: assets purge
  package.json
  purge.assets.js
Owners: @aziontech/experience-engineering

EDU-2123-Fix-broken-table-in-WAF-Custom-Allowed-Rules
  src/content/docs/en/pages/products/edge-firewall/web-application-firewall/custom-allowed-rule.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2123-Fix-broken-table-in-WAF-Custom-Allowed-Rules (#93)
  src/content/docs/en/pages/products/edge-firewall/web-application-firewall/custom-allowed-rule.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2122-add-edge-firewall-rules-engine-to-edge-firewall-reference
  src/content/docs/en/pages/products/edge-firewall/edge-firewall.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2122-add-edge-firewall-rules-engine-to-edge-firewall-reference
  src/content/docs/pt-br/pages/produtos/edge-firewall/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2124-Republish-missing-DNSSEC-reference-documentation
  src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/en/pages/products/edge-application/real-time-purge.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/real-time-purge/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/en/pages/products/edge-application/real-time-purge.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2071-rtp (#90)
  src/content/docs/en/pages/products/edge-application/edge-caching.mdx
  src/content/docs/en/pages/products/edge-application/real-time-purge.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/edge-caching/index.mdx
  src/content/docs/pt-br/pages/produtos/edge-application/real-time-purge/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2124-Republish-missing-DNSSEC-reference-documentation (#94)
  src/content/docs/pt-br/pages/produtos/intelligent-dns/DNSSEC/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-1221-EDU-1220-EDU-1210-graphql-raw-aggregating-queries
  src/content/docs/en/pages/api-graphql/features/features.mdx
  src/content/docs/en/pages/api-graphql/queries/queries.mdx
  src/content/docs/en/pages/guides/graphql/graphql-aggregated-data/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-1820-new-rtmetrics
  src/content/docs/en/pages/products/real-time-metrics/first-steps.mdx
  src/content/docs/en/pages/products/real-time-metrics/real-time-metrics.mdx
  src/content/docs/pt-br/pages/produtos/real-time-metrics/index.mdx
  src/content/docs/pt-br/pages/produtos/real-time-metrics/primeiros-passos.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-1820-new-rtmetrics (#96)
  src/content/docs/en/pages/products/real-time-metrics/first-steps.mdx
  src/content/docs/en/pages/products/real-time-metrics/real-time-metrics.mdx
  src/content/docs/pt-br/pages/produtos/real-time-metrics/index.mdx
  src/content/docs/pt-br/pages/produtos/real-time-metrics/primeiros-passos.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/pt-br/pages/produtos/edge-application/domains/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management
