Repository aziontech/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs, @aziontech/experience-engineering

Update 2. how-edge-works.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/2. how-edge-works.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update 2. how-edge-works.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/2. how-edge-works.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

improvements
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/2. how-edge-works.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

cta buttons
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/1-about-azion-edge-platform.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/3-azion-catalog.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

FEAT: purge github secret
  .github/workflows/prod.yml
  package.json
  purge.js
Owners: @aziontech/experience-engineering

view-metrics
  src/content/docs/en/pages/guides/real-time-metrics/use-metrics/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2409-view-metrics
  src/content/docs/en/pages/guides/real-time-metrics/use-metrics/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: clean folder to be opened
  .cloudcannon/preinstall
  cloudcannon.config.yml
  purge.assets.js
  schemas/doc.md
  schemas/homes.md
Owners: @aziontech/experience-engineering

purge.js to not lint
  .eslintignore
Owners: @aziontech/experience-engineering

chore: clean cloudcannon cms files
  _cloudcannon/info.json
Owners: none

purge.js to not lint
  .eslintignore
Owners: @aziontech/experience-engineering

chore: delete purge file
  purge.js
Owners: none

chore: add purge file
  purge.js
Owners: none

graphql-ts-required
  src/content/docs/en/pages/api-graphql/queries/queries.mdx
  src/content/docs/pt-br/pages/api-graphql/queries/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

owrding
  src/content/docs/en/pages/guides/accounts/activity-history.mdx
  src/content/docs/en/pages/guides/accounts/billing-and-subscriptions.mdx
  src/content/docs/en/pages/guides/accounts/mfa.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/developer-tools/Azion IDE/code-editor.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/developer-tools/SDK/go.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/developer-tools/cli/overview.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/developer-tools/edge-runtime/index.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/developer-tools/terraform/terraform.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/developer-tools/terraform/terraform.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/angular.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/angular.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/astro.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/hexo.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/next.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/react.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/2.create-device-groups.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/hexo.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/react.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/react.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vite.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vite.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vue.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/react.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vue.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/langauage-specific/js/javascript.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/overview/overview.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vue.mdx
  src/content/docs/en/pages/develop-with-azion/6-work-with-data/environment-variables.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

style
  src/content/docs/en/pages/guides/accounts/sso.mdx
  src/content/docs/en/pages/guides/accounts/teams.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v.dunno
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

kvp fix
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

improvements
  src/content/docs/en/pages/glossary.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

improvements
  src/content/docs/en/pages/guides/real-time-metrics/use-metrics/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/next.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/react.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vite.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vue.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

first-commit
  src/content/docs/en/pages/get-started/get-started.mdx
  src/content/docs/en/pages/get-started/start-with-a-template.mdx
  src/content/docs/en/pages/getting-started/getting-started.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

feat: edit on github
  src/components/RightSidebar/RightSidebar.astro
  src/layouts/LayoutSwitcher.astro
  src/layouts/MainLayout.astro
  src/pages/[lang]/[...slug].astro
  src/util/getGithubEditUrl.ts
Owners: @aziontech/experience-engineering

remove a section from guides
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/angular.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/astro.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/vue.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: remove links to contribute steps
  src/components/RightSidebar/ContributeMenu.astro
Owners: @aziontech/experience-engineering

.github/CODEOWNERS:

src/content/docs @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs
src/i18n/**/*.ts @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs

src/components @aziontech/experience-engineering
src/data @aziontech/experience-engineering
src/i18n @aziontech/experience-engineering
src/layouts @aziontech/experience-engineering
src/pages @aziontech/experience-engineering
src/util @aziontech/experience-engineering

package.json @aziontech/experience-engineering
astro.config.ts @aziontech/experience-engineering
helpcenter-cleanner.js @aziontech/experience-engineering
RADME.md @aziontech/experience-engineering
LICENSE @aziontech/experience-engineering
.prettierrc @aziontech/experience-engineering
.nvmrc @aziontech/experience-engineering
.gitignore @aziontech/experience-engineering
.eslintrc @aziontech/experience-engineering
.eslintignore @aziontech/experience-engineering
.editorconfig @aziontech/experience-engineering
.github @aziontech/experience-engineering
.cloudcannon @aziontech/experience-engineering
