Repository aziontech/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs, @aziontech/experience-engineering

.github/CODEOWNERS:

src/content/docs @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs
src/i18n/**/*.ts @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs

src/components @aziontech/experience-engineering
src/data @aziontech/experience-engineering
src/i18n @aziontech/experience-engineering
src/layouts @aziontech/experience-engineering
src/pages @aziontech/experience-engineering
src/util @aziontech/experience-engineering

package.json @aziontech/experience-engineering
astro.config.ts @aziontech/experience-engineering
helpcenter-cleanner.js @aziontech/experience-engineering
RADME.md @aziontech/experience-engineering
LICENSE @aziontech/experience-engineering
.prettierrc @aziontech/experience-engineering
.nvmrc @aziontech/experience-engineering
.gitignore @aziontech/experience-engineering
.eslintrc @aziontech/experience-engineering
.eslintignore @aziontech/experience-engineering
.editorconfig @aziontech/experience-engineering
.github @aziontech/experience-engineering
.cloudcannon @aziontech/experience-engineering

chore: dynamic label
  src/components/LeftSidebar/SidebarContent.astro
  src/i18n/en/nav.ts
  src/i18n/translation-checkers.ts
Owners: @aziontech/experience-engineering

CHORE: DYNAMIC LABEL (#189)
  src/components/LeftSidebar/SidebarContent.astro
  src/i18n/en/nav.ts
  src/i18n/translation-checkers.ts
Owners: @aziontech/experience-engineering

adjustments
  src/content/docs/en/pages/cli/azion-cli-alpha/dev-command/dev.mdx
  src/content/docs/en/pages/cli/azion-cli-alpha/init-build-deploy/azion-create-deploy-application.mdx
  src/content/docs/en/pages/cli/azion-cli-alpha/link-project/link.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

cli-v1-pt
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/azion-overview/azion-overview.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/dev-command/dev.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/init-build-deploy/azion-create-deploy-application.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/link-project/link.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/personal-tokens/personal-tokens.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2413-note-changelog
  src/content/docs/en/pages/changelog/changelog.mdx
  src/content/docs/pt-br/pages/changelog/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

azion-foundations
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/1-about-azion-edge-platform.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/3-azion-catalog.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/4-how-to-start-using-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2413-note-changelog (#190)
  src/content/docs/en/pages/changelog/changelog.mdx
  src/content/docs/pt-br/pages/changelog/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v1 - configure main settings
  src/content/docs/en/pages/guides/edit-your-edge-application/0.configure-main-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

url
  src/content/docs/en/pages/guides/edit-your-edge-application/0.configure-main-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

pt-br, menu and cards
  src/content/docs/en/homes/dev-tools.mdx
  src/content/docs/en/pages/cli/azion-cli-alpha/azion-overview/azion-overview.mdx
  src/content/docs/en/pages/cli/azion-cli-alpha/personal-tokens/personal-tokens.mdx
  src/content/docs/en/pages/guides/cli-installing-manually/index.mdx
  src/content/docs/en/pages/guides/cli-running-cli-on-macos/index.mdx
  src/content/docs/pt-br/homes/dev-tools.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/azion-overview/azion-overview.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/dev-command/dev.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/init-build-deploy/azion-create-deploy-application.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/link-project/link.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/personal-tokens/personal-tokens.mdx
  src/content/docs/pt-br/pages/guias/cli-instalando-manualmente/index.mdx
  src/content/docs/pt-br/pages/guias/cli-rodando-macos/index.mdx
  src/i18n/en/cliMenuAlpha.ts
  src/i18n/en/nav.ts
  src/i18n/pt-br/cliMenuAlpha.ts
  src/i18n/pt-br/devtoolsMenu.ts
  src/i18n/pt-br/nav.ts
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs, @aziontech/experience-engineering

chore: fix check for type error
  src/i18n/translation-checkers.ts
Owners: @aziontech/experience-engineering

chore: fix check for type error (#193)
  src/i18n/translation-checkers.ts
Owners: @aziontech/experience-engineering

adjusts and put all beta docs inside a folder
  src/content/docs/en/pages/cli/azion-cli-alpha/dev-command/dev.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/personal-tokens/personal-tokens.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/cache-settings-comando/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/domains-comando/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/edge-applications-comando/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/edge-functions-comando/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/functions-instances-comando/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/origins-command/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/primeiros-passos/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/rules-engine-comando/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/variables-command/index.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-beta/visao-geral/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/cli/azion-cli-alpha/init-build-deploy/azion-create-deploy-application.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/link-project/link.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/cli/azion-cli-alpha/azion-overview/azion-overview.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/init-build-deploy/azion-create-deploy-application.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

changelog-fix
  src/content/docs/en/pages/changelog/changelog.mdx
  src/content/docs/pt-br/pages/changelog/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

terms
  src/content/docs/en/pages/glossary.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

change titles
  src/content/docs/en/pages/cli/azion-cli-alpha/dev-command/dev.mdx
  src/content/docs/en/pages/cli/azion-cli-alpha/init-build-deploy/azion-create-deploy-application.mdx
  src/content/docs/en/pages/cli/azion-cli-alpha/link-project/link.mdx
  src/content/docs/en/pages/cli/azion-cli-alpha/personal-tokens/personal-tokens.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

changelog-fix (#194)
  src/content/docs/en/pages/changelog/changelog.mdx
  src/content/docs/pt-br/pages/changelog/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

values explained
  src/content/docs/en/pages/guides/edit-your-edge-application/0.configure-main-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/azion-overview/azion-overview.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/dev-command/dev.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/init-build-deploy/azion-create-deploy-application.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/link-project/link.mdx
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/personal-tokens/personal-tokens.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

adjust cli alpha menu pt-br
  src/i18n/pt-br/cliMenuAlpha.ts
Owners: @aziontech/experience-engineering

ajusta comando link h2
  src/content/docs/pt-br/pages/cli/azion-cli-alpha/link-project/link.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/0.configure-main-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v0.1
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

table and fixes
  src/content/docs/en/pages/guides/edit-your-edge-application/0.configure-main-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/work-with-domains/0.configure-a-domain.mdx
  src/content/docs/en/pages/guides/work-with-domains/1.create-a-digital-certificate.mdx
  src/content/docs/en/pages/guides/work-with-domains/2.point-domain-to-azion.mdx
  src/content/docs/en/pages/guides/work-with-domains/3.migrate-ns-to-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v2
  src/content/docs/en/pages/guides/work-with-domains/0.configure-a-domain.mdx
  src/content/docs/en/pages/guides/work-with-domains/1.create-a-digital-certificate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

improvements
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/1-about-azion-edge-platform.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/3-azion-catalog.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/4-how-to-start-using-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v2.1 order fix
  src/content/docs/en/pages/guides/work-with-domains/1.create-a-digital-certificate.mdx
  src/content/docs/en/pages/guides/work-with-domains/2.point-domain-to-azion.mdx
  src/content/docs/en/pages/guides/work-with-domains/3.migrate-ns-to-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/1-about-azion-edge-platform.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/3-azion-catalog.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/1-about-azion-edge-platform.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update 2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

example.org
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v2.1
  src/content/docs/en/pages/guides/edit-your-edge-application/0.configure-main-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

remove wwo
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v2 example.org
  src/content/docs/en/pages/guides/build-menu-1/0.overview.mdx
  src/content/docs/en/pages/guides/build-menu-1/1.build-with-edge-app.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v.3 endpoint details
  src/content/docs/en/pages/guides/work-with-domains/0.configure-a-domain.mdx
  src/content/docs/en/pages/guides/work-with-domains/1.create-a-digital-certificate.mdx
  src/content/docs/en/pages/guides/work-with-domains/2.point-domain-to-azion.mdx
  src/content/docs/en/pages/guides/work-with-domains/3.migrate-ns-to-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

definitions
  src/content/docs/en/pages/glossary.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs
