Repository aziontech/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs, @aziontech/experience-engineering

url fixes
  src/content/docs/en/pages/guides/edit-your-edge-application/6.work-with-rules-engine.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/6.work-with-rules-engine.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/6.work-with-rules-engine.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/advanced-configurations/0.process-images.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-1224-gql-events-datasets
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Updated ID 2 from WAF Allowed Rules
  src/content/docs/en/pages/products/edge-firewall/web-application-firewall/custom-allowed-rule.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/custom-allowed-rule/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

field singular
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

links
  src/content/docs/en/pages/get-help.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

fix: MIT LICENSE OWNER
  LICENSE
Owners: @aziontech/experience-engineering

fix: MIT LICENSE OWNER (#221)
  LICENSE
Owners: @aziontech/experience-engineering

EDU-2449-product-release-stages
  src/content/docs/en/pages/agreements/tos/30-march-2023/30-march.2023.mdx
  src/content/docs/en/pages/agreements/tos/terms-of-service.mdx
  src/content/docs/pt-br/pages/agreements/tos/26-abril-2023/26-april-2023.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

details
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2329-add-serverprotocol-http3
  src/content/docs/en/pages/products/data-streaming/data-streaming.mdx
  src/content/docs/en/pages/products/real-time-events/real-time-events.mdx
  src/content/docs/pt-br/pages/produtos/data-streaming/index.mdx
  src/content/docs/pt-br/pages/produtos/real-time-events/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: search event"
  src/components/Header/AlgoliaSearch.jsx
Owners: @aziontech/experience-engineering

chore: search event" (#224)
  src/components/Header/AlgoliaSearch.jsx
Owners: @aziontech/experience-engineering

chore: add code of conduty
  CODE_OF_CONDUCT.md
Owners: none

chore: clean console.log
  algolia-index.js
Owners: none

chore: clean console.log (#225)
  algolia-index.js
Owners: none

Products
  src/content/docs/en/pages/agreements/tos/terms-of-service.mdx
  src/content/docs/pt-br/pages/agreements/tos/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2449-product-release-stages (#222)
  src/content/docs/en/pages/agreements/tos/30-march-2023/30-march.2023.mdx
  src/content/docs/en/pages/agreements/tos/terms-of-service.mdx
  src/content/docs/pt-br/pages/agreements/tos/26-abril-2023/26-april-2023.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2329-add-serverprotocol-http3 (#223)
  src/content/docs/en/pages/products/data-streaming/data-streaming.mdx
  src/content/docs/en/pages/products/real-time-events/real-time-events.mdx
  src/content/docs/pt-br/pages/produtos/data-streaming/index.mdx
  src/content/docs/pt-br/pages/produtos/real-time-events/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

props
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2383-separate-gql-datasets
  src/content/docs/en/pages/api-graphql/features/features.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

status
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-1224-gql-events-datasets (#219)
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

EDU-2250-BUILD-ADVANCED-multiple-origins
  src/content/docs/en/pages/guides/advanced-configurations/1.multiple-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/products/edge-firewall/web-application-firewall/custom-allowed-rule.mdx
  src/content/docs/en/pages/products/edge-firewall/web-application-firewall/custom-allowed-rule.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/custom-allowed-rule/index.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/custom-allowed-rule/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Updated ID 2 from WAF Allowed Rules (#220)
  src/content/docs/en/pages/products/edge-firewall/web-application-firewall/custom-allowed-rule.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/custom-allowed-rule/index.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/marketplace/templates/react-boilerplate/react-boilerplate.mdx
  src/content/docs/pt-br/pages/guias/marketplace/templates/react-boilerplate/react-boilerplate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/pt-br/pages/guias/marketplace/templates/react-boilerplate/react-boilerplate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/marketplace/qstash-scheduler/qstash-scheduler.mdx
  src/content/docs/pt-br/pages/guias/marketplace/qstash-scheduler/qstash-scheduler.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/marketplace/templates/vue-boilerplate/vue-boilerplate.mdx
  src/content/docs/pt-br/pages/guias/marketplace/templates/vue-boilerplate/vue-boilerplate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

.github/CODEOWNERS:

src/content/docs @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs
src/i18n/**/*.ts @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs

src/components @aziontech/experience-engineering
src/data @aziontech/experience-engineering
src/i18n @aziontech/experience-engineering
src/layouts @aziontech/experience-engineering
src/pages @aziontech/experience-engineering
src/util @aziontech/experience-engineering

package.json @aziontech/experience-engineering
astro.config.ts @aziontech/experience-engineering
helpcenter-cleanner.js @aziontech/experience-engineering
RADME.md @aziontech/experience-engineering
LICENSE @aziontech/experience-engineering
.prettierrc @aziontech/experience-engineering
.nvmrc @aziontech/experience-engineering
.gitignore @aziontech/experience-engineering
.eslintrc @aziontech/experience-engineering
.eslintignore @aziontech/experience-engineering
.editorconfig @aziontech/experience-engineering
.github @aziontech/experience-engineering
.cloudcannon @aziontech/experience-engineering
