Repository aziontech/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs, @aziontech/experience-engineering

.github/CODEOWNERS:

src/content/docs @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs
src/i18n/**/*.ts @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs

src/components @aziontech/experience-engineering
src/data @aziontech/experience-engineering
src/i18n @aziontech/experience-engineering
src/layouts @aziontech/experience-engineering
src/pages @aziontech/experience-engineering
src/util @aziontech/experience-engineering

package.json @aziontech/experience-engineering
astro.config.ts @aziontech/experience-engineering
helpcenter-cleanner.js @aziontech/experience-engineering
RADME.md @aziontech/experience-engineering
LICENSE @aziontech/experience-engineering
.prettierrc @aziontech/experience-engineering
.nvmrc @aziontech/experience-engineering
.gitignore @aziontech/experience-engineering
.eslintrc @aziontech/experience-engineering
.eslintignore @aziontech/experience-engineering
.editorconfig @aziontech/experience-engineering
.github @aziontech/experience-engineering
.cloudcannon @aziontech/experience-engineering

FIX: algolia index (#209)
  algolia-index.js
Owners: none

chore: explicit node version on readme
  README.md
Owners: none

fix: pipe install
  .github/workflows/prod.yml
Owners: @aziontech/experience-engineering

chore: enable algolia index
  .github/workflows/prod.yml
Owners: @aziontech/experience-engineering

chore: actions/setup-node@v3 update 18 to 20
  .github/workflows/prod.yml
Owners: @aziontech/experience-engineering

FIX: all data file path
  algolia-index.js
Owners: none

chore: github secrets splited values and log error
  .github/workflows/prod.yml
  algolia-index.js
Owners: @aziontech/experience-engineering

improvements
  src/content/docs/en/pages/guides/marketplace/qstash-scheduler/qstash-scheduler.mdx
  src/content/docs/pt-br/pages/guias/marketplace/qstash-scheduler/qstash-scheduler.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

fix: filepath to upload to algolia
  algolia-index.js
Owners: none

chore: remove cms files rm -rf from pipe
  .github/workflows/prod.yml
Owners: @aziontech/experience-engineering

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: new route for doc all data
  algolia-index.js
  src/pages/[lang]/doc-all-data.json.js
Owners: @aziontech/experience-engineering

chore: new route for doc all data (#211)
  algolia-index.js
  src/pages/[lang]/doc-all-data.json.js
Owners: @aziontech/experience-engineering

EF guide
  src/content/docs/en/pages/guides/edit-your-edge-application/5.instantiate-edge-functions.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: new xml doc file + better data mapper
  src/pages/[lang]/doc-all-data.json.js
  src/pages/[lang]/sitemap/docs.xml.js
Owners: @aziontech/experience-engineering

v1
  src/content/docs/en/pages/guides/edit-your-edge-application/6.work-with-rules-engine.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

v1
  src/content/docs/en/pages/guides/edit-your-edge-application/6.work-with-rules-engine.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

update after loads of stuff changed
  src/content/docs/en/pages/guides/build-menu-1/0.overview.mdx
  src/content/docs/en/pages/guides/build-menu-1/1.build-with-edge-app.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

after a bunch of improvements
  src/content/docs/en/pages/guides/work-with-domains/0.configure-a-domain.mdx
  src/content/docs/en/pages/guides/work-with-domains/1.create-a-digital-certificate.mdx
  src/content/docs/en/pages/guides/work-with-domains/2.point-domain-to-azion.mdx
  src/content/docs/en/pages/guides/work-with-domains/3.migrate-ns-to-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

latest improvements
  src/content/docs/en/pages/guides/edit-your-edge-application/0.configure-main-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

more adjustments
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

improvements
  src/content/docs/en/pages/guides/edit-your-edge-application/2.create-device-groups.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

adjustmentsss
  src/content/docs/en/pages/guides/edit-your-edge-application/3.set-error-pages.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

adjustments
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

adjustments
  src/content/docs/en/pages/guides/edit-your-edge-application/5.instantiate-edge-functions.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

is it over?
  src/content/docs/en/pages/guides/edit-your-edge-application/6.work-with-rules-engine.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: remove sitemap call from head
  src/components/HeadCommon.astro
Owners: @aziontech/experience-engineering

Create react-boilerplate.mdx
  src/content/docs/en/pages/guides/marketplace/templates/react-boilerplate/react-boilerplate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: new xml doc file + better data mapper (#213)
  src/components/HeadCommon.astro
  src/pages/[lang]/doc-all-data.json.js
  src/pages/[lang]/sitemap/docs.xml.js
Owners: @aziontech/experience-engineering

alphabetical order
  src/content/docs/en/pages/glossary.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

pt-version and fixes
  src/content/docs/en/pages/guides/marketplace/templates/react-boilerplate/react-boilerplate.mdx
  src/content/docs/pt-br/pages/guias/marketplace/templates/react-boilerplate/react-boilerplate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Create vue-boilerplate.mdx
  src/content/docs/en/pages/guides/marketplace/templates/vue-boilerplate/vue-boilerplate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

fix: lang algolia search
  src/pages/[lang]/doc-all-data.json.js
Owners: @aziontech/experience-engineering

chore: pipeline 20 to 20.6.1
  .github/workflows/prod.yml
Owners: @aziontech/experience-engineering

chore: @babel/types@^7.22.18
  package.json
Owners: @aziontech/experience-engineering

pt-version
  src/content/docs/en/pages/guides/marketplace/angular-boilerplate/angular-boilerplate.mdx
  src/content/docs/en/pages/guides/marketplace/templates/vue-boilerplate/vue-boilerplate.mdx
  src/content/docs/pt-br/pages/guias/marketplace/templates/vue-boilerplate/vue-boilerplate.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

examples
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

fix: sitemap lang
  src/pages/[lang]/sitemap/docs.xml.js
Owners: @aziontech/experience-engineering

fix: sitemap lang (#214)
  src/pages/[lang]/sitemap/docs.xml.js
Owners: @aziontech/experience-engineering
