Repository aziontech/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs, @aziontech/experience-engineering

table DONE
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

final final?
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/1.work-with-origins.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

oops
  src/content/docs/en/pages/guides/edit-your-edge-application/3.set-error-pages.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

fix: home page render with editongithub
  src/layouts/LayoutSwitcher.astro
  src/layouts/MainLayout.astro
Owners: @aziontech/experience-engineering

note fix
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

can't count
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/next.mdx
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/next.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

fix: error ts props interface using id
  src/layouts/HomepageLayout.astro
  src/layouts/LayoutSwitcher.astro
  src/layouts/MainLayout.astro
Owners: @aziontech/experience-engineering

new info
  src/content/docs/en/pages/glossary.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

new-content
  src/content/docs/en/pages/get-started/go-live-with-azion.mdx
  src/content/docs/en/pages/get-started/start-with-a-template.mdx
  src/content/docs/en/pages/guides/getting-to-know-rtm/getting-to-know-rtm.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

improvements
  src/content/docs/en/pages/get-started/get-started.mdx
  src/content/docs/en/pages/get-started/go-live-with-azion.mdx
  src/content/docs/en/pages/get-started/start-with-a-template.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/edit-your-edge-application/4.tune-your-cache-settings.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

more fields descriptions
  src/content/docs/en/pages/api-graphql/features/events-fields/events-fields.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/get-started/go-live-with-azion.mdx
  src/content/docs/en/pages/get-started/go-live-with-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/get-started/start-with-a-template.mdx
  src/content/docs/en/pages/get-started/start-with-a-template.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

adjust buttons
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/2. how-edge-works.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

adjust button
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/1-about-azion-edge-platform.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/3-azion-catalog.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/4-how-to-start-using-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/2-how-azion-edge-platform-works.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

add overview frameworks
  src/content/docs/en/pages/develop-with-azion/5-develop/framework-specific-guides/overview.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/1. what-is-edge.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/2. how-edge-works.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/get-started/get-started.mdx
  src/content/docs/en/pages/get-started/go-live-with-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Update src/content/docs/en/pages/get-started/go-live-with-azion.mdx
  src/content/docs/en/pages/get-started/go-live-with-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/work-with-domains/0.configure-a-domain.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

that's it that's the commit
  src/content/docs/en/pages/guides/edit-your-edge-application/3.set-error-pages.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/2. how-edge-works.mdx
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/0.conteudo-menu-principal/before your begin/edge-foundations/3. edge-native-platforms.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

FEAT: algolia index pipeline
  .github/workflows/prod.yml
  algolia-index.js
  package.json
  purge.js
Owners: @aziontech/experience-engineering

chore: algolia update
  package.json
Owners: @aziontech/experience-engineering

Apply suggestions from code review
  src/content/docs/en/pages/before-you-begin/2-azion-foundations/4-how-to-start-using-azion.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: update path config
  algolia-index.js
Owners: none

chore: small fit to capture params during algolia index
  algolia-index.js
Owners: none

Update src/content/docs/en/pages/guides/marketplace/qstash-scheduler/qstash-scheduler.mdx
  src/content/docs/en/pages/guides/marketplace/qstash-scheduler/qstash-scheduler.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: all-data file setup
  src/pages/[lang]/docs/all-data.json.js
  src/pages/data-doc-en.json.js
  src/pages/data-doc-ptbr.json.js
Owners: @aziontech/experience-engineering

Apply suggestions from code review
  src/content/docs/en/pages/guides/marketplace/qstash-scheduler/qstash-scheduler.mdx
  src/content/docs/pt-br/pages/guias/marketplace/qstash-scheduler/qstash-scheduler.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

Apply suggestions from code review
  src/content/docs/en/pages/guides/marketplace/qstash-scheduler/qstash-scheduler.mdx
  src/content/docs/pt-br/pages/guias/marketplace/qstash-scheduler/qstash-scheduler.mdx
Owners: @aziontech/product-content, @aziontech/product-management, @aziontech/cs-support, @aziontech/cs-labs

chore: all-data file setup (#208)
  src/pages/[lang]/docs/all-data.json.js
  src/pages/data-doc-en.json.js
  src/pages/data-doc-ptbr.json.js
Owners: @aziontech/experience-engineering

node 20.6.1
  .nvmrc
Owners: @aziontech/experience-engineering

FIX: algolia index
  algolia-index.js
Owners: none

.github/CODEOWNERS:

src/content/docs @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs
src/i18n/**/*.ts @aziontech/product-content @aziontech/product-management @aziontech/cs-support @aziontech/cs-labs

src/components @aziontech/experience-engineering
src/data @aziontech/experience-engineering
src/i18n @aziontech/experience-engineering
src/layouts @aziontech/experience-engineering
src/pages @aziontech/experience-engineering
src/util @aziontech/experience-engineering

package.json @aziontech/experience-engineering
astro.config.ts @aziontech/experience-engineering
helpcenter-cleanner.js @aziontech/experience-engineering
RADME.md @aziontech/experience-engineering
LICENSE @aziontech/experience-engineering
.prettierrc @aziontech/experience-engineering
.nvmrc @aziontech/experience-engineering
.gitignore @aziontech/experience-engineering
.eslintrc @aziontech/experience-engineering
.eslintignore @aziontech/experience-engineering
.editorconfig @aziontech/experience-engineering
.github @aziontech/experience-engineering
.cloudcannon @aziontech/experience-engineering
