Repository aziontech/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management, @aziontech/experience-engineering

Update src/content/docs/en/pages/products/edge-firewall/network-layer-protection/network-layer-protection.mdx
  src/content/docs/en/pages/products/edge-firewall/network-layer-protection/network-layer-protection.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2015-Remove-guides-from-edge-firewall-network-layer-protection-network-lists
  src/content/docs/en/pages/products/edge-firewall/network-layer-protection/network-list.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/network-layer-protection/network-lists/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Breadcrum CLI and API config + Google Analytics (#40)
  src/components/HeadCommon.astro
  src/util/getBreadcrumb.ts
Owners: @aziontech/experience-engineering

EDU-1820-new-real-time-metrics
  src/content/docs/en/pages/products/real-time-metrics/first-steps.mdx
  src/content/docs/en/pages/products/real-time-metrics/real-time-metrics.mdx
  src/content/docs/pt-br/pages/produtos/real-time-metrics/index.mdx
  src/content/docs/pt-br/pages/produtos/real-time-metrics/primeiros-passos.mdx
  src/content/docs/pt-br/pages/produtos/real-time-metrics/real-time-metrics.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/en/pages/guides/marketplace/hcaptcha/index.mdx
  src/content/docs/en/pages/guides/marketplace/recaptcha/index.mdx
  src/content/docs/pt-br/pages/guias/marketplace/hcaptcha/index.mdx
  src/content/docs/pt-br/pages/guias/marketplace/recaptcha/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-1805-change-tokens-observe
  src/content/docs/en/pages/guides/grafana/grafana-cloud/index.mdx
  src/content/docs/en/pages/guides/graphql/query-graphql-postman/index.mdx
  src/content/docs/pt-br/pages/guias/grafana/grafana-cloud/index.mdx
  src/content/docs/pt-br/pages/guias/graphql/query-postman/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/products/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances.mdx
  src/content/docs/en/pages/products/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

edu-2021-ip-address-update
  src/content/docs/en/pages/guides/marketplace/ipqs/index.mdx
  src/content/docs/pt-br/pages/guias/marketplace/ipqs/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Caching is insane
  src/content/docs/en/pages/products/edge-application/application-acceleration.mdx
  src/content/docs/en/pages/products/edge-application/cache-settings.mdx
  src/content/docs/en/pages/products/edge-application/device-groups.mdx
  src/content/docs/en/pages/products/edge-application/edge-caching.mdx
  src/content/docs/en/pages/products/edge-application/l2-caching.mdx
  src/content/docs/en/pages/products/edge-application/rules-engine.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2016-Remove-guides-from-edge-firewall-web-application-firewall
  src/content/docs/en/pages/products/edge-firewall/web-application-firewall/web-application-firewall.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/products/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances.mdx
  src/content/docs/en/pages/products/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances-para-edge-firewall.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances-para-edge-firewall.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

edu-1966-marketplace-reference-update
  src/content/docs/en/pages/guides/index.mdx
  src/content/docs/en/pages/guides/marketplace/how-to-massive-redirection/index.mdx
  src/content/docs/en/pages/marketplace/marketplace.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2018-Remove-guides-from-edge-firewall-waf-rule-sets
  src/content/docs/en/pages/products/edge-firewall/web-application-firewall/waf-rule-sets.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/web-application-firewall/waf-rule-sets/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2019-Remove-guides-from-intelligent-dns
  src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2011-Remove-guides-from-edge-application-access-permissions (#35)
  src/content/docs/en/pages/products/edge-firewall/acess-permissions.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/permissoes-de-acesso/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2013-Remove-guides-from-edge-firewall-rules-engine-for-edge-firewall (#37)
  src/content/docs/en/pages/products/edge-firewall/rules-engine.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/rules-engine/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2014-Remove-guides-from-edge-firewall-network-layer-protection (#39)
  src/content/docs/en/pages/products/edge-firewall/network-layer-protection/network-layer-protection.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/network-layer-protection/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2015-Remove-guides-from-edge-firewall-network-layer-protection-network-lists (#41)
  src/content/docs/en/pages/products/edge-firewall/network-layer-protection/network-list.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/network-layer-protection/network-lists/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

EDU-2012-Remove-guides-from-edge-firewall-edge-functions-instances (#36)
  src/content/docs/en/pages/products/edge-firewall/edge-functions-for-edge-firewall/edge-functions-firewall.mdx
  src/content/docs/en/pages/products/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/edge-functions-for-edge-firewall/edge-functions-instances-para-edge-firewall.mdx
  src/content/docs/pt-br/pages/produtos/edge-firewall/edge-functions-for-edge-firewall/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

FEAT: Footer
  public/assets/docs/css/theme.css
  src/components/Footer/Footer.astro
  src/components/Footer/Footer.scss
  src/components/Header/Header.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/RightSidebar/RightSidebar.astro
  src/content/docs/en/story-book.mdx
  src/i18n/en/ui.ts
  src/i18n/pt-br/footer.ts
  src/i18n/pt-br/ui.ts
  src/layouts/BaseLayout.astro
  src/layouts/SplashLayout.astro
  src/pages/[lang]/[...slug].astro
  src/util.ts
  src/util/getPageTranslations.ts
Owners: @aziontech/experience-engineering, @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Apply suggestions from code review
  src/content/docs/pt-br/pages/guias/marketplace/recaptcha/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

chore: stable leftside bar
  src/components/Footer/Footer.astro
  src/components/Footer/Footer.scss
  src/components/LeftSidebar/LeftSidebar.astro
Owners: @aziontech/experience-engineering

Apply suggestions from code review
  src/content/docs/en/pages/marketplace/marketplace.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/marketplace/marketplace.mdx
  src/content/docs/en/pages/marketplace/marketplace.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/marketplace/marketplace.mdx
  src/content/docs/en/pages/marketplace/marketplace.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

first-steps-edit
  src/content/docs/en/pages/marketplace/first-steps.mdx
  src/content/docs/en/pages/marketplace/marketplace.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/marketplace/marketplace.mdx
  src/content/docs/en/pages/marketplace/marketplace.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

fix: adjust home docs namespace
  src/content/docs/pt-br/homes/doc-home.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/marketplace/marketplace.mdx
  src/content/docs/en/pages/marketplace/marketplace.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

fix: adjust home docs namespace (#50)
  src/content/docs/pt-br/homes/doc-home.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
  src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
  src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
  src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

adjust-homes-namespaces
  src/content/docs/pt-br/homes/deliver-home.mdx
  src/content/docs/pt-br/homes/observe-home.mdx
  src/content/docs/pt-br/homes/secure-home.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
  src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/intelligent-dns/index.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/intelligent-dns/index.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
  src/content/docs/en/pages/products/intelligent-dns/intelligent-dns.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

Update src/content/docs/pt-br/pages/produtos/intelligent-dns/index.mdx
  src/content/docs/pt-br/pages/produtos/intelligent-dns/index.mdx
Owners: @aziontech/education-docs, @aziontech/team-product-2, @aziontech/cs-labs, @aziontech/product-management

.github/CODEOWNERS:

src/content/docs @aziontech/education-docs @aziontech/team-product-2  @aziontech/cs-labs @aziontech/product-management 
src/i18n/**/*.ts @aziontech/education-docs @aziontech/team-product-2 @aziontech/product-management 

src/components @aziontech/experience-engineering
src/data @aziontech/experience-engineering
src/i18n @aziontech/experience-engineering
src/layouts @aziontech/experience-engineering
src/pages @aziontech/experience-engineering
src/util @aziontech/experience-engineering

package.json @aziontech/experience-engineering
astro.config.ts @aziontech/experience-engineering
helpcenter-cleanner.js @aziontech/experience-engineering
RADME.md @aziontech/experience-engineering
LICENSE @aziontech/experience-engineering
.prettierrc @aziontech/experience-engineering
.nvmrc @aziontech/experience-engineering
.gitignore @aziontech/experience-engineering
.eslintrc @aziontech/experience-engineering
.eslintignore @aziontech/experience-engineering
.editorconfig @aziontech/experience-engineering
.github @aziontech/experience-engineering
.cloudcannon @aziontech/experience-engineering
